* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4e7f80;
    text-align: center;
    
}
h1{
    color: #1f0576;
    border: 0.50rem solid rgb(215, 200, 200);
    display: inline;
    font-size: 5rem;
    background-color: rgb(21, 219, 21);
    border-radius: 1rem;

}

.continer {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: red;
    background-color: chartreuse;

}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:orangered ;
    color: white;
    border-radius: 1rem;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:rgb(72, 0, 255) ;
    color: white;
    border-radius: 1rem;
}
#msg {
    color: rgb(232, 88, 5);
    font-size: 5vmin;
}
.msg-container  {
    height: 80vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}